<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tonyecoleelection.android">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.tonyecoleelection.android.ApplicationClass"
        tools:ignore="GoogleAppIndexingWarning">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name="com.tonyecoleelection.android.ui.main.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.tonyecoleelection.android.ui.auth.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.tonyecoleelection.android.ui.auth.AuthActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.tonyecoleelection.android.ui.filters.FiltersActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>